.container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.InfoWrapper {
  max-height: 370px;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

.form {
  padding: 4rem 0;
  text-align: center;
}

.form h2::before {
  content: '';
  position: relative;
  display: block;
  width: 40%;
  height: 7px;
  border-radius: 1rem;
  background-color: grey;
  margin: 1rem auto;
}

.formRow {
  list-style: none;
  display: flex;
  gap: 0;
}





.formRow:nth-child(2n+1) li{
  background-color: #e9e9e9;
}

.formRow{
  margin: 2px 0;
}

.formRow:nth-child(2){
  margin-bottom: 10px ;
}



.formRow li {
  display: flex;
  padding: 10px 20px;
  margin: 0 1px;
  border: 1px solid grey;
  border-radius: 3px;
  width: 25%;
  justify-content: center;

}

.header li{
  background-color: #363740;
  color: white;

}

.formRow:hover li:not(.header li){
  font-weight: bold;
  border: 2px solid black;

}

.addFormButton {
  text-decoration: none;
}

.addFormButton button {
  margin-top: 0.5rem;
  width: 40%;
}


.detailButtons{
  cursor:pointer;
  color: black;
}



.details > *{
  margin : 0 5px;
}