.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.resultContainer {
  flex-grow: 1;
  width: 50%;
  overflow: auto;
  text-align: center;
}

.resultContainer li {
  padding: 0;
  margin: 0;
}

.link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  transition: background-color 200ms ease-in,color 200ms ease-in;
}

.createFileB,.createFileB:hover {
  color: white;
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
}

.link:hover:not(.createFileB) {
  background-color:  #e1e3ea;
  color: black;

}



.searchField{
  width: 100%;
  position: relative !important;


}


.searchField input{
  width: 50% !important;
  padding: 0.7rem 0 !important;
  padding-right: 3.2rem !important;
  border-radius: 25px;
  transition: border 0.1s ease-in;
}

.searchInput{
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput > span{
  position: absolute;
  color: grey;
  right: 27%;
  top: 25%;
 
}

.removeBorder{
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}


.lastLi{
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
}