.container {
  height: 100%;
  overflow: auto;
}

.jfButton {
  padding: 10px 45px;
  cursor: pointer;
  min-width: 200px !important;
  max-width: 20% !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  background-color: #5c8cf6 !important;
  -webkit-transition: 1s;
  transition: all 200ms ease-in;
  border: none;
  color:white;
}

.jfButton:hover {
  color: white;
  background-color: #0e3947 !important;
}

