.title {
  display: block;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  padding: 0.3rem 0;
  font-size: 1.4rem;
  margin: 3rem auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  
}

.body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  padding: 2rem 0rem;
  border-radius: 15px;
}

.icons{
  margin-left: 1rem;
  margin-top: 5px;
  font-size: 1.5rem;
}

.Button{
  display: flex;
  text-decoration: none;
  width: 30%;
  margin: 1rem 2rem ;  
  background-color: #486fc3;
  border-radius: .5em;
  transition: background-color 100ms ease-in ;

}

.Button:hover{
  background-color: #0f1a3d;
}

.Button button{
 width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}