.right {
  height: 100%;
  overflow-y: auto;
  background-color: #363740;
  padding: 0;
}
.right label {
  display: block;
  color: white;
  font-size: 1.5rem;
  margin: 20px 0;
  padding: 16px 20px;
}

.right ul li {
  margin: 0;
}

.navLink {
  display: block;
  text-decoration: none;
  color: #7b7d87;
  padding: 16px 20px;
}

.navLink:hover {
  color: #dde2ff;
  border-right: 4px solid white;
  background-color: #3e4049;
}
