.container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

table{
  width : 100%;
}

.th {
  text-align: center;
  padding: 5px 8px;
  color: white;
}

.tr {
  cursor: pointer;
}

.tr:hover {
  background-color: #ccc;
}

.thead {
  background-color: #5c8cf6;
}

tbody > tr:nth-child(2n + 1) {
  background-color: snow;
}

.td {
  text-align: center;
  padding: 5px 8px;
}
