* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'B-Nazanin';
  src: local('B-Nazanin'), url(./fonts/B-NAZANIN.TTF) format('truetype');
}

.App {
  height: 100vh;
  font-family: 'B-Nazanin';
  font-size: 1.3rem;
}

select{
  display: block;
  padding: 0.5rem;
  border-radius: 3px;
  background-color: white;
}

textarea{
  width: 100%;
  height: 10rem;
  padding: 0.5rem;
}

input[type='text']{
  background-color: white !important;
  width: 100%;
  padding: 0.5rem 1rem;
  display: block;
  border: 1px solid grey !important;
}

input[type='number']{
  background-color: white !important;

}

.input-help{
  color: black !important;
}
